In [1]:
import os
import sys
import pandas as pd

In [2]:
data = os.path.abspath(os.path.join('.','data', 'data.csv'))

In [3]:
df= pd.read_csv(data)

In [4]:
df.head()

,Channel,AuthorID,Author,Date,Content,Attachments,Reactions
0,Ocean Protocol - CORE-TECH - 🌊┃builders [10887...,369700858742571008,mantisclone,03/29/2023 1:02 AM,gm 👋 :Water_Wave: :Oceancopy:,NaN,NaN
1,Ocean Protocol - CORE-TECH - 🌊┃builders [10887...,843831770062913568,white_rider_,03/29/2023 4:37 PM,Good morning to all the @🧑‍💻Builder 🌊,NaN,NaN
2,Ocean Protocol - CORE-TECH - 🌊┃builders [10887...,563434444321587202,Maki#4920,03/29/2023 4:37 PM,**@White Rider just advanced to level 4!**,https://cdn.discordapp.com/attachments/1088751...,powerup (1)
3,Ocean Protocol - CORE-TECH - 🌊┃builders [10887...,194817764236460034,robinlehmann,03/29/2023 4:40 PM,https://tenor.com/view/hello-there-baby-yoda-m...,NaN,babyyodasoup (1)
4,Ocean Protocol - CORE-TECH - 🌊┃builders [10887...,387401160656683034,birususama,03/29/2023 4:40 PM,Good morning everyone 😀,NaN,🌅 (1)

In [37]:
# User Activity Metrics
df2 = df.fillna('')
user_activity = df2.groupby('Author').agg({
    'Content': 'count',                  # Message count
    'Content': lambda x: ' '.join(x),   # Combine messages for word count
    'Attachments': 'count',              # Attachment count
    'Reactions': 'sum'                   # Total reactions received
}).reset_index()

In [38]:
user_activity

,Author,Content,Attachments,Reactions
0,! GD┘áShaibi#3385,Joined the server.,1,
1,! Reko .#6689,Joined the server.,1,
2,! SΓêåM#2947,Joined the server.,1,
3,! ajjaxx.xp#8310,Joined the server.,1,
4,! Arii#5937,Joined the server.,1,
...,...,...,...,...
9020,🚨❓ FAQ | queries#8727,Joined the server.,1,
9021,🚨❓ FAQ | queries#9354,Joined the server.,1,
9022,🚨❓FAQ | queries#3602,Joined the server.,1,
9023,🛎Support|FAQ#9746,Joined the server.,1,
9024,🤖Tech Support#7219,Joined the server.,1,

In [39]:
user_activity['Message_Count'] = user_activity['Content'].apply(lambda x: len(x.split()))

In [40]:
user_activity

,Author,Content,Attachments,Reactions,Message_Count
0,! GD┘áShaibi#3385,Joined the server.,1,,3
1,! Reko .#6689,Joined the server.,1,,3
2,! SΓêåM#2947,Joined the server.,1,,3
3,! ajjaxx.xp#8310,Joined the server.,1,,3
4,! Arii#5937,Joined the server.,1,,3
...,...,...,...,...,...
9020,🚨❓ FAQ | queries#8727,Joined the server.,1,,3
9021,🚨❓ FAQ | queries#9354,Joined the server.,1,,3
9022,🚨❓FAQ | queries#3602,Joined the server.,1,,3
9023,🛎Support|FAQ#9746,Joined the server.,1,,3
9024,🤖Tech Support#7219,Joined the server.,1,,3

In [42]:
# Time Analysis
#user_activity.columns = ['Author', 'Message_Count', 'Words', 'Attachments', 'Reactions_Received']

df2['Date'] = pd.to_datetime(df2['Date'])  # Convert 'Date' column to datetime
df2['Hour'] = df2['Date'].dt.hour           # Extract hour of the day
df2['Day_of_Week'] = df2['Date'].dt.day_name()  # Extract day of the week

In [43]:
# Group by user and hour/day_of_week and count messages
user_activity_by_hour = df2.groupby(['Author', 'Hour']).size().reset_index(name='Hourly_Activity_Count')
user_activity_by_day = df2.groupby(['Author', 'Day_of_Week']).size().reset_index(name='Daily_Activity_Count')

# User Categorization (example criteria)
# Define thresholds for each category
high_activity_threshold = 100  # Define your threshold based on your dataset
moderate_activity_threshold = 50

In [44]:
user_activity['Message_Count'].iloc[0]

3

In [45]:
# Categorize users based on activity levels
user_activity['Category'] = 'Casual User'  # Default category
user_activity.loc[user_activity['Message_Count'] > high_activity_threshold, 'Category'] = 'Active Contributor'
user_activity.loc[(user_activity['Message_Count'] > moderate_activity_threshold) & (user_activity['Message_Count'] <= high_activity_threshold), 'Category'] = 'Moderate Contributor'

In [46]:
user_activity.head()

,Author,Content,Attachments,Reactions,Message_Count,Category
0,! GD┘áShaibi#3385,Joined the server.,1,,3,Casual User
1,! Reko .#6689,Joined the server.,1,,3,Casual User
2,! SΓêåM#2947,Joined the server.,1,,3,Casual User
3,! ajjaxx.xp#8310,Joined the server.,1,,3,Casual User
4,! Arii#5937,Joined the server.,1,,3,Casual User

In [52]:
user_activity_by_hour.sort_values(by='Hourly_Activity_Count',ascending=False).head()

         Author  Hour  Hourly_Activity_Count
1598     GitHub    20                   1761
1599     GitHub    21                   1699
1597     GitHub    19                   1607
2104  MEE6#4876    21                   1555
1596     GitHub    18                   1554

In [50]:
user_activity_by_day.sort_values(by='Daily_Activity_Count',ascending=False).head()

         Author Day_of_Week  Daily_Activity_Count
1838  MEE6#4876     Tuesday                  4536
1378     GitHub   Wednesday                  3222
1376     GitHub    Thursday                  3176
1833  MEE6#4876      Friday                  2981
1834  MEE6#4876      Monday                  2963